## 1. Import Libraries

In [1]:
import numpy as np

import pandas as pd

import sklearn
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics.pairwise import rbf_kernel
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import (
	OneHotEncoder,
	OrdinalEncoder,
	StandardScaler,
	MinMaxScaler,
	PowerTransformer,
	FunctionTransformer
)

from feature_engine.outliers import Winsorizer
from feature_engine.datetime import DatetimeFeatures
from feature_engine.selection import SelectBySingleFeaturePerformance
from feature_engine.encoding import (
	RareLabelEncoder,
	MeanEncoder,
	CountFrequencyEncoder
)

import matplotlib.pyplot as plt

import warnings

## 2. Display Settings

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
sklearn.set_config(transform_output="pandas")

In [4]:
warnings.filterwarnings("ignore")

## 3. Read the Data

In [5]:
path = r"U:\nlp_project\flight-prices-prediction\data\train.csv"

train = pd.read_csv(path)
train

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-05-27,Delhi,Cochin,20:55:00,12:35:00,940,1.0,In-flight meal not included,12898
1,Jet Airways,2019-06-12,Kolkata,Banglore,18:55:00,16:20:00,1285,1.0,No Info,13044
2,Air India,2019-05-18,Delhi,Cochin,09:45:00,09:25:00,1420,2.0,No Info,10975
3,Indigo,2019-06-03,Mumbai,Hyderabad,21:20:00,22:50:00,90,0.0,No Info,2227
4,Jet Airways,2019-04-01,Mumbai,Hyderabad,02:55:00,04:20:00,85,0.0,No Info,5678
...,...,...,...,...,...,...,...,...,...,...
6689,Spicejet,2019-06-09,Kolkata,Banglore,11:35:00,18:50:00,435,1.0,No Info,8479
6690,Multiple Carriers,2019-05-09,Delhi,Cochin,10:00:00,01:30:00,930,1.0,No Info,15078
6691,Air India,2019-05-18,Delhi,Cochin,12:00:00,07:40:00,1180,2.0,No Info,8603
6692,Air Asia,2019-05-18,Delhi,Cochin,07:55:00,13:25:00,330,1.0,No Info,8759
6693,Multiple Carriers,2019-04-09,Delhi,Cochin,08:00:00,19:00:00,660,1.0,No Info,11142

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6694 entries, 0 to 6693
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          6694 non-null   object
 1   date_of_journey  6694 non-null   object
 2   source           6694 non-null   object
 3   destination      6694 non-null   object
 4   dep_time         6694 non-null   object
 5   arrival_time     6694 non-null   object
 6   duration         6694 non-null   int64
 7   total_stops      6694 non-null   float64
 8   additional_info  6694 non-null   object
 9   price            6694 non-null   int64
dtypes: float64(1), int64(2), object(7)
memory usage: 523.1+ KB

In [7]:
X_train = train.drop(columns="price")
y_train = train.price.copy()

In [8]:
display(X_train), 
display(y_train)

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info
0,Jet Airways,2019-05-27,Delhi,Cochin,20:55:00,12:35:00,940,1.0,In-flight meal not included
1,Jet Airways,2019-06-12,Kolkata,Banglore,18:55:00,16:20:00,1285,1.0,No Info
2,Air India,2019-05-18,Delhi,Cochin,09:45:00,09:25:00,1420,2.0,No Info
3,Indigo,2019-06-03,Mumbai,Hyderabad,21:20:00,22:50:00,90,0.0,No Info
4,Jet Airways,2019-04-01,Mumbai,Hyderabad,02:55:00,04:20:00,85,0.0,No Info
...,...,...,...,...,...,...,...,...,...
6689,Spicejet,2019-06-09,Kolkata,Banglore,11:35:00,18:50:00,435,1.0,No Info
6690,Multiple Carriers,2019-05-09,Delhi,Cochin,10:00:00,01:30:00,930,1.0,No Info
6691,Air India,2019-05-18,Delhi,Cochin,12:00:00,07:40:00,1180,2.0,No Info
6692,Air Asia,2019-05-18,Delhi,Cochin,07:55:00,13:25:00,330,1.0,No Info
6693,Multiple Carriers,2019-04-09,Delhi,Cochin,08:00:00,19:00:00,660,1.0,No Info

0       12898
1       13044
2       10975
3        2227
4        5678
        ...
6689     8479
6690    15078
6691     8603
6692     8759
6693    11142
Name: price, Length: 6694, dtype: int64

## 4. Transformation Operations

In [12]:
X_train.columns.to_list()

['airline',
 'date_of_journey',
 'source',
 'destination',
 'dep_time',
 'arrival_time',
 'duration',
 'total_stops',
 'additional_info']

### 4.1 airline

In [13]:
X_train.airline

0             Jet Airways
1             Jet Airways
2               Air India
3                  Indigo
4             Jet Airways
              ...
6689             Spicejet
6690    Multiple Carriers
6691            Air India
6692             Air Asia
6693    Multiple Carriers
Name: airline, Length: 6694, dtype: object

In [24]:
air_transformer = Pipeline(steps=[
	("imputer", SimpleImputer(strategy="most_frequent")),
	("grouper", RareLabelEncoder(tol=0.1, replace_with="Other", n_categories=2)),
	("encoder", OneHotEncoder(sparse_output=False, handle_unknown="ignore"))
])

air_transformer.fit_transform(X_train.loc[:, ["airline"]])

,airline_Air India,airline_Indigo,airline_Jet Airways,airline_Multiple Carriers,airline_Other
0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...
6689,0.0,0.0,0.0,0.0,1.0
6690,0.0,0.0,0.0,1.0,0.0
6691,1.0,0.0,0.0,0.0,0.0
6692,0.0,0.0,0.0,0.0,1.0
6693,0.0,0.0,0.0,1.0,0.0

### 4.2 date_of_journey

In [25]:
X_train.date_of_journey

0       2019-05-27
1       2019-06-12
2       2019-05-18
3       2019-06-03
4       2019-04-01
           ...
6689    2019-06-09
6690    2019-05-09
6691    2019-05-18
6692    2019-05-18
6693    2019-04-09
Name: date_of_journey, Length: 6694, dtype: object

In [28]:
feature_to_extract = ["month", "week", "day_of_week", "day_of_year"]

doj_transformer = Pipeline(steps=[
	("dt", DatetimeFeatures(features_to_extract=feature_to_extract, yearfirst=True, format="mixed")),
	# ("scaler", MinMaxScaler()) # to convert values in same scale
])

doj_transformer.fit_transform(X_train.loc[:, ["date_of_journey"]])

,date_of_journey_month,date_of_journey_week,date_of_journey_day_of_week,date_of_journey_day_of_year
0,5,22,0,147
1,6,24,2,163
2,5,20,5,138
3,6,23,0,154
4,4,14,0,91
...,...,...,...,...
6689,6,23,6,160
6690,5,19,3,129
6691,5,20,5,138
6692,5,20,5,138
6693,4,15,1,99

### 4.3 source & destination

In [30]:
X_train.source

0         Delhi
1       Kolkata
2         Delhi
3        Mumbai
4        Mumbai
         ...
6689    Kolkata
6690      Delhi
6691      Delhi
6692      Delhi
6693      Delhi
Name: source, Length: 6694, dtype: object

In [31]:
X_train.destination

0          Cochin
1        Banglore
2          Cochin
3       Hyderabad
4       Hyderabad
          ...
6689     Banglore
6690       Cochin
6691       Cochin
6692       Cochin
6693       Cochin
Name: destination, Length: 6694, dtype: object

In [32]:
location_subset = X_train.loc[:, ["source", "destination"]]
location_subset

       source destination
0       Delhi      Cochin
1     Kolkata    Banglore
2       Delhi      Cochin
3      Mumbai   Hyderabad
4      Mumbai   Hyderabad
...       ...         ...
6689  Kolkata    Banglore
6690    Delhi      Cochin
6691    Delhi      Cochin
6692    Delhi      Cochin
6693    Delhi      Cochin

[6694 rows x 2 columns]

In [50]:
location_pipe1 = Pipeline(steps=[
	("grouper", RareLabelEncoder(tol=0.1, replace_with="Other", n_categories=2)),
	("encoder", MeanEncoder()),
	("scaler", PowerTransformer())
])

location_pipe1.fit_transform(location_subset,y_train)

        source  destination
0     1.040187     1.039963
1    -0.190314    -0.185612
2     1.040187     1.039963
3    -1.915733    -0.892199
4    -1.915733    -0.892199
...        ...          ...
6689 -0.190314    -0.185612
6690  1.040187     1.039963
6691  1.040187     1.039963
6692  1.040187     1.039963
6693  1.040187     1.039963

[6694 rows x 2 columns]

In [42]:
np.union1d(
	X_train.source.unique(),
	X_train.destination.unique()
)

array(['Banglore', 'Chennai', 'Cochin', 'Delhi', 'Hyderabad', 'Kolkata',
       'Mumbai', 'New Delhi'], dtype=object)

In [47]:
def is_north(X):
	columns = X.columns.to_list()
	north_cities = ["Delhi", "Kolkata", "Mumbai", "New Delhi"]
	return (
		X
		.assign(**{
			f"{col}_is_north": X.loc[:, col].isin(north_cities).astype(int)
			for col in columns
		})
		.drop(columns=columns)
	)

# is_north(location_subset) # this is not work in column transformer and pipeline
FunctionTransformer(func=is_north).fit_transform(location_subset)

      source_is_north  destination_is_north
0                   1                     0
1                   1                     0
2                   1                     0
3                   1                     0
4                   1                     0
...               ...                   ...
6689                1                     0
6690                1                     0
6691                1                     0
6692                1                     0
6693                1                     0

[6694 rows x 2 columns]

In [51]:
location_transformer = FeatureUnion(transformer_list=[
	("part1", location_pipe1),
	("part2", FunctionTransformer(func=is_north))
])

location_transformer.fit_transform(location_subset, y_train)

        source  destination  source_is_north  destination_is_north
0     1.040187     1.039963                1                     0
1    -0.190314    -0.185612                1                     0
2     1.040187     1.039963                1                     0
3    -1.915733    -0.892199                1                     0
4    -1.915733    -0.892199                1                     0
...        ...          ...              ...                   ...
6689 -0.190314    -0.185612                1                     0
6690  1.040187     1.039963                1                     0
6691  1.040187     1.039963                1                     0
6692  1.040187     1.039963                1                     0
6693  1.040187     1.039963                1                     0

[6694 rows x 4 columns]

### 4.4 dep_time & arrival_time

In [52]:
X_train.dep_time

0       20:55:00
1       18:55:00
2       09:45:00
3       21:20:00
4       02:55:00
          ...
6689    11:35:00
6690    10:00:00
6691    12:00:00
6692    07:55:00
6693    08:00:00
Name: dep_time, Length: 6694, dtype: object

In [53]:
X_train.arrival_time

0       12:35:00
1       16:20:00
2       09:25:00
3       22:50:00
4       04:20:00
          ...
6689    18:50:00
6690    01:30:00
6691    07:40:00
6692    13:25:00
6693    19:00:00
Name: arrival_time, Length: 6694, dtype: object

In [54]:
time_subset = X_train.loc[:, ["dep_time", "arrival_time"]]
time_subset

      dep_time arrival_time
0     20:55:00     12:35:00
1     18:55:00     16:20:00
2     09:45:00     09:25:00
3     21:20:00     22:50:00
4     02:55:00     04:20:00
...        ...          ...
6689  11:35:00     18:50:00
6690  10:00:00     01:30:00
6691  12:00:00     07:40:00
6692  07:55:00     13:25:00
6693  08:00:00     19:00:00

[6694 rows x 2 columns]

In [58]:
time_pipe1 = Pipeline(steps=[
	("dt", DatetimeFeatures(features_to_extract=["hour", "minute"])),
	("scaler", MinMaxScaler())
])

time_pipe1.fit_transform(time_subset)

      dep_time_hour  dep_time_minute  arrival_time_hour  arrival_time_minute
0          0.869565         1.000000           0.521739             0.636364
1          0.782609         1.000000           0.695652             0.363636
2          0.391304         0.818182           0.391304             0.454545
3          0.913043         0.363636           0.956522             0.909091
4          0.086957         1.000000           0.173913             0.363636
...             ...              ...                ...                  ...
6689       0.478261         0.636364           0.782609             0.909091
6690       0.434783         0.000000           0.043478             0.545455
6691       0.521739         0.000000           0.304348             0.727273
6692       0.304348         1.000000           0.565217             0.454545
6693       0.347826         0.000000           0.826087             0.000000

[6694 rows x 4 columns]

In [71]:
# def part_of_day(X, morning=4, noon=12, eve=16, night=20):
# 	columns = X.columns.to_list()
# 	X_temp = X.assign(**{
# 		col: pd.to_datetime(X.loc[:, col]).dt.hour
# 		for col in columns
# 	})
# 	print(pd.DataFrame(X_temp))

# part_of_day(time_subset)

In [68]:
def part_of_day(X, morning=4, noon=12, eve=16, night=20):
	columns = X.columns.to_list()
	X_temp = X.assign(**{
		col: pd.to_datetime(X.loc[:, col]).dt.hour
		for col in columns
	})

	return (
		X_temp
		.assign(**{
			f"{col}_part_of_day": np.select(
				[X_temp.loc[:, col].between(morning, noon, inclusive="left"),
				 X_temp.loc[:, col].between(noon, eve, inclusive="left"),
				 X_temp.loc[:, col].between(eve, night, inclusive="left")],
				["morning", "afternoon", "evening"],
				default="night"
			)
			for col in columns
		})
		.drop(columns=columns)
	)

FunctionTransformer(func=part_of_day).fit_transform(time_subset)

     dep_time_part_of_day arrival_time_part_of_day
0                   night                afternoon
1                 evening                  evening
2                 morning                  morning
3                   night                    night
4                   night                  morning
...                   ...                      ...
6689              morning                  evening
6690              morning                    night
6691            afternoon                  morning
6692              morning                afternoon
6693              morning                  evening

[6694 rows x 2 columns]

In [70]:
time_pipe2 = Pipeline(steps=[
	("part", FunctionTransformer(func=part_of_day)),
	("encoder", CountFrequencyEncoder()),
	("scaler", MinMaxScaler())
])

time_pipe2.fit_transform(time_subset)

      dep_time_part_of_day  arrival_time_part_of_day
0                 0.159827                  0.000000
1                 0.195680                  0.699256
2                 1.000000                  0.968119
3                 0.159827                  1.000000
4                 0.159827                  0.968119
...                    ...                       ...
6689              1.000000                  0.699256
6690              1.000000                  1.000000
6691              0.000000                  0.968119
6692              1.000000                  0.000000
6693              1.000000                  0.699256

[6694 rows x 2 columns]

In [74]:
time_transformer = FeatureUnion(transformer_list=[
	("part1", time_pipe1),
	("part2", time_pipe2)
])

time_transformer.fit_transform(time_subset)

,dep_time_hour,dep_time_minute,arrival_time_hour,arrival_time_minute,dep_time_part_of_day,arrival_time_part_of_day
0,0.869565,1.000000,0.521739,0.636364,0.159827,0.000000
1,0.782609,1.000000,0.695652,0.363636,0.195680,0.699256
2,0.391304,0.818182,0.391304,0.454545,1.000000,0.968119
3,0.913043,0.363636,0.956522,0.909091,0.159827,1.000000
4,0.086957,1.000000,0.173913,0.363636,0.159827,0.968119
...,...,...,...,...,...,...
6689,0.478261,0.636364,0.782609,0.909091,1.000000,0.699256
6690,0.434783,0.000000,0.043478,0.545455,1.000000,1.000000
6691,0.521739,0.000000,0.304348,0.727273,0.000000,0.968119
6692,0.304348,1.000000,0.565217,0.454545,1.000000,0.000000
6693,0.347826,0.000000,0.826087,0.000000,1.000000,0.699256

### 4.5 duration

In [75]:
X_train.duration

0        940
1       1285
2       1420
3         90
4         85
        ...
6689     435
6690     930
6691    1180
6692     330
6693     660
Name: duration, Length: 6694, dtype: int64

In [80]:
(
	X_train
	.duration
	.quantile([0.25, 0.5, 0.75])
	.values
	.reshape(-1, 1)
	.shape
)

(3, 1)

In [84]:
class RBFPercentileSimilarity(BaseEstimator, TransformerMixin):
	def __init__(self, variables=None, percentiles=[0.25, 0.5, 0.75], gamma=0.1):
		self.variables = variables
		self.percentiles = percentiles
		self.gamma = gamma


	def fit(self, X, y=None):
		if not self.variables:
			self.variables = X.select_dtypes(include="number").columns.to_list()

		self.reference_values_ = {
			col: (
				X
				.loc[:, col]
				.quantile(self.percentiles)
				.values
				.reshape(-1, 1)
			)
			for col in self.variables
		}

		return self


	def transform(self, X):
		objects = []
		for col in self.variables:
			columns = [f"{col}_rbf_{int(percentile * 100)}" for percentile in self.percentiles]
			obj = pd.DataFrame(
				data=rbf_kernel(X.loc[:, [col]], Y=self.reference_values_[col], gamma=self.gamma),
				columns=columns
			)
			objects.append(obj)
		return pd.concat(objects, axis=1)

In [85]:
RBFPercentileSimilarity(percentiles=[0.4, 0.8]).fit_transform(X_train)

      duration_rbf_40  duration_rbf_80  total_stops_rbf_40  total_stops_rbf_80
0        0.000000e+00     0.000000e+00            1.000000            1.000000
1        0.000000e+00     0.000000e+00            1.000000            1.000000
2        0.000000e+00     0.000000e+00            0.904837            0.904837
3        0.000000e+00     0.000000e+00            0.904837            0.904837
4        0.000000e+00     0.000000e+00            0.904837            0.904837
...               ...              ...                 ...                 ...
6689    1.569292e-213     0.000000e+00            1.000000            1.000000
6690     0.000000e+00     0.000000e+00            1.000000            1.000000
6691     0.000000e+00    1.125982e-278            0.904837            0.904837
6692     6.293989e-54     0.000000e+00            1.000000            1.000000
6693     0.000000e+00     0.000000e+00            1.000000            1.000000

[6694 rows x 4 columns]

In [87]:
def duration_category(X, short=180, med=400):
	return (
		X
		.assign(duration_cat=np.select([X.duration.lt(short),
									    X.duration.between(short, med, inclusive="left")],
									   ["short", "medium"],
									   default="long"))
		.drop(columns="duration")
	)

In [88]:
def is_over(X, value=1000):
	return (
		X
		.assign(**{
			f"duration_over_{value}": X.duration.ge(value).astype(int)
		})
		.drop(columns="duration")
	)

In [89]:
duration_pipe1 = Pipeline(steps=[
	("rbf", RBFPercentileSimilarity()),
	("scaler", PowerTransformer())
])

duration_pipe2 = Pipeline(steps=[
	("cat", FunctionTransformer(func=duration_category)),
	("encoder", OrdinalEncoder(categories=[["short", "medium", "long"]]))
])

duration_union = FeatureUnion(transformer_list=[
	("part1", duration_pipe1),
	("part2", duration_pipe2),
	("part3", FunctionTransformer(func=is_over)),
	("part4", StandardScaler())
])

duration_transformer = Pipeline(steps=[
	("outliers", Winsorizer(capping_method="iqr", fold=1.5)),
	("imputer", SimpleImputer(strategy="median")),
	("union", duration_union)
])

duration_transformer.fit_transform(X_train.loc[:, ["duration"]])

,duration_rbf_25,duration_rbf_50,duration_rbf_75,duration_cat,duration_over_1000,duration
0,-0.353152,-0.119075,-0.099367,2.0,0,0.609935
1,-0.353152,-0.119075,-0.099368,2.0,1,1.301752
2,-0.353152,-0.119075,-0.099368,2.0,1,1.572463
3,-0.353152,-0.119075,-0.099368,0.0,0,-1.094542
4,-0.353152,-0.119075,-0.099368,0.0,0,-1.104568
...,...,...,...,...,...,...
6689,-0.353152,-0.119075,-0.099368,2.0,0,-0.402725
6690,-0.353152,-0.119075,10.098457,2.0,0,0.589882
6691,-0.353152,-0.119075,-0.099368,2.0,1,1.091199
6692,-0.353152,-0.119075,-0.099368,1.0,0,-0.613278
6693,-0.353152,-0.119075,-0.099368,2.0,0,0.048460

### 4.6 total_stops

In [94]:
X_train.total_stops

0       1.0
1       1.0
2       2.0
3       0.0
4       0.0
       ...
6689    1.0
6690    1.0
6691    2.0
6692    1.0
6693    1.0
Name: total_stops, Length: 6694, dtype: float64

In [95]:
def is_direct(X):
	return X.assign(is_direct_flight=X.total_stops.eq(0).astype(int))


total_stops_transformer = Pipeline(steps=[
	("imputer", SimpleImputer(strategy="most_frequent")),
	("", FunctionTransformer(func=is_direct))
])

total_stops_transformer.fit_transform(X_train.loc[:, ["total_stops"]])

      total_stops  is_direct_flight
0             1.0                 0
1             1.0                 0
2             2.0                 0
3             0.0                 1
4             0.0                 1
...           ...               ...
6689          1.0                 0
6690          1.0                 0
6691          2.0                 0
6692          1.0                 0
6693          1.0                 0

[6694 rows x 2 columns]

### 4.7 additional_info

In [96]:
X_train.additional_info

0       In-flight meal not included
1                           No Info
2                           No Info
3                           No Info
4                           No Info
                   ...
6689                        No Info
6690                        No Info
6691                        No Info
6692                        No Info
6693                        No Info
Name: additional_info, Length: 6694, dtype: object

In [97]:
info_pipe1 = Pipeline(steps=[
	("group", RareLabelEncoder(tol=0.1, n_categories=2, replace_with="Other")),
	("encoder", OneHotEncoder(handle_unknown="ignore", sparse_output=False))
])

info_pipe1.fit_transform(X_train.loc[:, ["additional_info"]])

,additional_info_In-flight meal not included,additional_info_No Info,additional_info_Other
0,1.0,0.0,0.0
1,0.0,1.0,0.0
2,0.0,1.0,0.0
3,0.0,1.0,0.0
4,0.0,1.0,0.0
...,...,...,...
6689,0.0,1.0,0.0
6690,0.0,1.0,0.0
6691,0.0,1.0,0.0
6692,0.0,1.0,0.0
6693,0.0,1.0,0.0

In [98]:
def have_info(X):
	return X.assign(additional_info=X.additional_info.ne("No Info").astype(int))

In [99]:
info_union = FeatureUnion(transformer_list=[
	("part1", info_pipe1),
	("part2", FunctionTransformer(func=have_info))
])

In [100]:
info_transformer = Pipeline(steps=[
	("imputer", SimpleImputer(strategy="constant", fill_value="unknown")),
	("union", info_union)
])

info_transformer.fit_transform(X_train.loc[:, ["additional_info"]])

,additional_info_In-flight meal not included,additional_info_No Info,additional_info_Other,additional_info
0,1.0,0.0,0.0,1
1,0.0,1.0,0.0,0
2,0.0,1.0,0.0,0
3,0.0,1.0,0.0,0
4,0.0,1.0,0.0,0
...,...,...,...,...
6689,0.0,1.0,0.0,0
6690,0.0,1.0,0.0,0
6691,0.0,1.0,0.0,0
6692,0.0,1.0,0.0,0
6693,0.0,1.0,0.0,0

### 4.8 Column Transformer

In [101]:
column_transformer = ColumnTransformer(transformers=[
	("air", air_transformer, ["airline"]),
	("doj", doj_transformer, ["date_of_journey"]),
	("location", location_transformer, ["source", 'destination']),
	("time", time_transformer, ["dep_time", "arrival_time"]),
	("dur", duration_transformer, ["duration"]),
	("stops", total_stops_transformer, ["total_stops"]),
	("info", info_transformer, ["additional_info"])
], remainder="passthrough")

column_transformer.fit_transform(X_train, y_train)

,air__airline_Air India,air__airline_Indigo,air__airline_Jet Airways,air__airline_Multiple Carriers,air__airline_Other,doj__date_of_journey_month,doj__date_of_journey_week,doj__date_of_journey_day_of_week,doj__date_of_journey_day_of_year,location__source,location__destination,location__source_is_north,location__destination_is_north,time__dep_time_hour,time__dep_time_minute,time__arrival_time_hour,time__arrival_time_minute,time__dep_time_part_of_day,time__arrival_time_part_of_day,dur__duration_rbf_25,dur__duration_rbf_50,dur__duration_rbf_75,dur__duration_cat,dur__duration_over_1000,dur__duration,stops__total_stops,stops__is_direct_flight,info__additional_info_In-flight meal not included,info__additional_info_No Info,info__additional_info_Other,info__additional_info
0,0.0,0.0,1.0,0.0,0.0,5,22,0,147,1.040187,1.039963,1,0,0.869565,1.000000,0.521739,0.636364,0.159827,0.000000,-0.353152,-0.119075,-0.099367,2.0,0,0.609935,1.0,0,1.0,0.0,0.0,1
1,0.0,0.0,1.0,0.0,0.0,6,24,2,163,-0.190314,-0.185612,1,0,0.782609,1.000000,0.695652,0.363636,0.195680,0.699256,-0.353152,-0.119075,-0.099368,2.0,1,1.301752,1.0,0,0.0,1.0,0.0,0
2,1.0,0.0,0.0,0.0,0.0,5,20,5,138,1.040187,1.039963,1,0,0.391304,0.818182,0.391304,0.454545,1.000000,0.968119,-0.353152,-0.119075,-0.099368,2.0,1,1.572463,2.0,0,0.0,1.0,0.0,0
3,0.0,1.0,0.0,0.0,0.0,6,23,0,154,-1.915733,-0.892199,1,0,0.913043,0.363636,0.956522,0.909091,0.159827,1.000000,-0.353152,-0.119075,-0.099368,0.0,0,-1.094542,0.0,1,0.0,1.0,0.0,0
4,0.0,0.0,1.0,0.0,0.0,4,14,0,91,-1.915733,-0.892199,1,0,0.086957,1.000000,0.173913,0.363636,0.159827,0.968119,-0.353152,-0.119075,-0.099368,0.0,0,-1.104568,0.0,1,0.0,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6689,0.0,0.0,0.0,0.0,1.0,6,23,6,160,-0.190314,-0.185612,1,0,0.478261,0.636364,0.782609,0.909091,1.000000,0.699256,-0.353152,-0.119075,-0.099368,2.0,0,-0.402725,1.0,0,0.0,1.0,0.0,0
6690,0.0,0.0,0.0,1.0,0.0,5,19,3,129,1.040187,1.039963,1,0,0.434783,0.000000,0.043478,0.545455,1.000000,1.000000,-0.353152,-0.119075,10.098457,2.0,0,0.589882,1.0,0,0.0,1.0,0.0,0
6691,1.0,0.0,0.0,0.0,0.0,5,20,5,138,1.040187,1.039963,1,0,0.521739,0.000000,0.304348,0.727273,0.000000,0.968119,-0.353152,-0.119075,-0.099368,2.0,1,1.091199,2.0,0,0.0,1.0,0.0,0
6692,0.0,0.0,0.0,0.0,1.0,5,20,5,138,1.040187,1.039963,1,0,0.304348,1.000000,0.565217,0.454545,1.000000,0.000000,-0.353152,-0.119075,-0.099368,1.0,0,-0.613278,1.0,0,0.0,1.0,0.0,0
6693,0.0,0.0,0.0,1.0,0.0,4,15,1,99,1.040187,1.039963,1,0,0.347826,0.000000,0.826087,0.000000,1.000000,0.699256,-0.353152,-0.119075,-0.099368,2.0,0,0.048460,1.0,0,0.0,1.0,0.0,0

## 5. Feature Selection

In [102]:
estimator = RandomForestRegressor(n_estimators=10, max_depth=3, random_state=42)

selector = SelectBySingleFeaturePerformance(
	estimator=estimator,
	scoring="r2",
	threshold=0.1
)

## 6. Putting it all Together

In [103]:
preprocessor = Pipeline(steps=[
	("ct", column_transformer),
	("selector", selector)
])

preprocessor.fit_transform(X_train, y_train)

,air__airline_Indigo,air__airline_Jet Airways,air__airline_Other,doj__date_of_journey_week,doj__date_of_journey_day_of_year,location__source,location__destination,dur__duration_rbf_25,dur__duration_cat,dur__duration_over_1000,dur__duration,stops__total_stops,stops__is_direct_flight
0,0.0,1.0,0.0,22,147,1.040187,1.039963,-0.353152,2.0,0,0.609935,1.0,0
1,0.0,1.0,0.0,24,163,-0.190314,-0.185612,-0.353152,2.0,1,1.301752,1.0,0
2,0.0,0.0,0.0,20,138,1.040187,1.039963,-0.353152,2.0,1,1.572463,2.0,0
3,1.0,0.0,0.0,23,154,-1.915733,-0.892199,-0.353152,0.0,0,-1.094542,0.0,1
4,0.0,1.0,0.0,14,91,-1.915733,-0.892199,-0.353152,0.0,0,-1.104568,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6689,0.0,0.0,1.0,23,160,-0.190314,-0.185612,-0.353152,2.0,0,-0.402725,1.0,0
6690,0.0,0.0,0.0,19,129,1.040187,1.039963,-0.353152,2.0,0,0.589882,1.0,0
6691,0.0,0.0,0.0,20,138,1.040187,1.039963,-0.353152,2.0,1,1.091199,2.0,0
6692,0.0,0.0,1.0,20,138,1.040187,1.039963,-0.353152,1.0,0,-0.613278,1.0,0
6693,0.0,0.0,0.0,15,99,1.040187,1.039963,-0.353152,2.0,0,0.048460,1.0,0

## 7. Visualizations

In [104]:
feature_performances = preprocessor.named_steps["selector"].feature_performance_
feature_performances

{'air__airline_Air India': np.float64(0.0018566166864114237),
 'air__airline_Indigo': np.float64(0.12503390730273556),
 'air__airline_Jet Airways': np.float64(0.1821337127283891),
 'air__airline_Multiple Carriers': np.float64(0.018606960583504344),
 'air__airline_Other': np.float64(0.11323269369591875),
 'doj__date_of_journey_month': np.float64(0.0812870080325477),
 'doj__date_of_journey_week': np.float64(0.17136121485343714),
 'doj__date_of_journey_day_of_week': np.float64(0.0003741447761493137),
 'doj__date_of_journey_day_of_year': np.float64(0.2102901279675218),
 'location__source': np.float64(0.12587020827275583),
 'location__destination': np.float64(0.12217526878263463),
 'location__source_is_north': np.float64(0.02805586604300292),
 'location__destination_is_north': np.float64(0.02805586604300292),
 'time__dep_time_hour': np.float64(0.008700429329426865),
 'time__dep_time_minute': np.float64(0.030920173015736352),
 'time__arrival_time_hour': np.float64(0.07474905769938267),
 'time__arrival_time_minute': np.float64(0.030441405773096213),
 'time__dep_time_part_of_day': np.float64(-0.00057196039840172),
 'time__arrival_time_part_of_day': np.float64(0.030083789472431028),
 'dur__duration_rbf_25': np.float64(0.10335446181392272),
 'dur__duration_rbf_50': np.float64(0.004638982269091947),
 'dur__duration_rbf_75': np.float64(1.644002138075547e-05),
 'dur__duration_cat': np.float64(0.3751646868873928),
 'dur__duration_over_1000': np.float64(0.10154302769446262),
 'dur__duration': np.float64(0.4163033619030667),
 'stops__total_stops': np.float64(0.3890563531349809),
 'stops__is_direct_flight': np.float64(0.3669632155111318),
 'info__additional_info_In-flight meal not included': np.float64(0.001739383790001492),
 'info__additional_info_No Info': np.float64(-0.0005822444075102388),
 'info__additional_info_Other': np.float64(0.01810846712656211),
 'info__additional_info': np.float64(-0.0005822444075102388)}

In [105]:
sorted_feat_imp = dict(sorted(feature_performances.items(), key=lambda val: val[1]))
sorted_feat_imp

{'info__additional_info_No Info': np.float64(-0.0005822444075102388),
 'info__additional_info': np.float64(-0.0005822444075102388),
 'time__dep_time_part_of_day': np.float64(-0.00057196039840172),
 'dur__duration_rbf_75': np.float64(1.644002138075547e-05),
 'doj__date_of_journey_day_of_week': np.float64(0.0003741447761493137),
 'info__additional_info_In-flight meal not included': np.float64(0.001739383790001492),
 'air__airline_Air India': np.float64(0.0018566166864114237),
 'dur__duration_rbf_50': np.float64(0.004638982269091947),
 'time__dep_time_hour': np.float64(0.008700429329426865),
 'info__additional_info_Other': np.float64(0.01810846712656211),
 'air__airline_Multiple Carriers': np.float64(0.018606960583504344),
 'location__source_is_north': np.float64(0.02805586604300292),
 'location__destination_is_north': np.float64(0.02805586604300292),
 'time__arrival_time_part_of_day': np.float64(0.030083789472431028),
 'time__arrival_time_minute': np.float64(0.030441405773096213),
 'time__dep_time_minute': np.float64(0.030920173015736352),
 'time__arrival_time_hour': np.float64(0.07474905769938267),
 'doj__date_of_journey_month': np.float64(0.0812870080325477),
 'dur__duration_over_1000': np.float64(0.10154302769446262),
 'dur__duration_rbf_25': np.float64(0.10335446181392272),
 'air__airline_Other': np.float64(0.11323269369591875),
 'location__destination': np.float64(0.12217526878263463),
 'air__airline_Indigo': np.float64(0.12503390730273556),
 'location__source': np.float64(0.12587020827275583),
 'doj__date_of_journey_week': np.float64(0.17136121485343714),
 'air__airline_Jet Airways': np.float64(0.1821337127283891),
 'doj__date_of_journey_day_of_year': np.float64(0.2102901279675218),
 'stops__is_direct_flight': np.float64(0.3669632155111318),
 'dur__duration_cat': np.float64(0.3751646868873928),
 'stops__total_stops': np.float64(0.3890563531349809),
 'dur__duration': np.float64(0.4163033619030667)}

In [107]:
# THRESHOLD = 0.1

# selected_bar = None
# dropped_bar = None
# colors = ["red" if score < THRESHOLD else "green" for score in sorted_feat_imp.values()]


# fig, ax = plt.subplots(figsize=(15, 4)) 

# for i, (feature, score) in enumerate(sorted_feat_imp.items()):
# 	params = dict(
# 		x=i,
# 		height=score,
# 		edgecolor="black",
# 		alpha=0.5
# 	)
	
# 	if score < THRESHOLD:
# 		bar = ax.bar(
# 			color="red",
# 			**params
# 		)
# 		if not dropped_bar:
# 			dropped_bar = bar[0]
# 	else:
# 		bar = ax.bar(
# 			color="green",
# 			**params
# 		)
# 		if not selected_bar:
# 			selected_bar = bar[0]

# thresh_line = ax.axhline(
# 	y=0.1,
# 	color="black",
# 	linestyle="--"
# )

# ax.set_xticks(
# 	ticks=range(len(sorted_feat_imp)),
# 	labels=list(sorted_feat_imp.keys()),
# 	rotation=30,
# 	ha="right"
# )

# ax.set(
# 	xlabel="Feature",
# 	ylabel="Score",
# 	title="Feature Selection Scores"
# )

# ax.legend(
# 	handles=[selected_bar, dropped_bar, thresh_line],
# 	labels=["Selected", "Dropped", "Threshold"],
# 	loc="upper left"
# )

# plt.show()

- The dataset went upto 31 columns after Feature Engineering
- The Feature Selection algorithm selected 13 features out of that